---
import "./global.css";
import "normalize.css";
import { Icon } from "astro-icon/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>赛博菩萨</title>
  </head>
  <body>
    <div>
      <h1 class="h1">
        赛博菩萨
  
        <div>
          <a href="https://x.com/AttributeCopied"> <Icon name="twitter" /></a>
          <a href="mailto:cyberobj@gamil.com"> <Icon name="email" /></a>
        </div>

        <a href="www.saibopusa.com" class="pusa">www.saibopusa.com</a>
      </h1>
    </div>
  </body>
</html>
